/.idea
*.log

*.class
target
/
*.iml

/*.txt
UP-entities/src/main/resources/ru/programpark/entity/git.properties
*~
/bin/
/UP-entities/src/main/java/ru/programpark/entity/data/ShortPath.java
/UP-entities/src/main/java/ru/programpark/entity/data/PathTest.java
/UP-main/src/test/java/scenarios/ShortPath.java
/UP-main/src/test/java/scenarios/PathTest.java
/UP-planner/src/main/java/ru/programpark/planners/assignment/AuctionTrivial.java
/UP-planner/src/test/java/ru/programpark/planners/utils/AuctionTrivialTest.java
/UP-planner/src/test/java/ru/programpark/planners/AuctionTrivialTest.java
